{% extends 'layout.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block main %}
    <div class="adminManuals col">
        <div class="row justify-content-md-center">
            <div class="adminManuals col-6">
                <h1>Administration - Modifier le texte</h1>
                    <div class="adminManuals card">
                        <div class="card-header">
                            <h2 class="card-title my-auto">Mode d'emploi</h2>
                        </div>
                        <div class="card-body">
                            {{ manual.instruction | raw}}
                        </div>
                    </div>
                    <div class="adminManuals card">
                        <div class="card-header">
                            <h2 class="card-title my-auto">Mode de calcul</h2>
                        </div>
                        <div class="card-body">
                            {{ manual.calculation | raw}}
                        </div>
                    </div>

                    <a class="btn btn-secondary float-right" href="{{ path('admin_manual_edit', {'id': manual.id}) }}">Modifier le texte</a>
            </div>
            <div class="image">
                <img src="{{ asset('build/images/girl_with_headphones.png') }}" alt="girl with headphones">
            </div>
        </div>
    </div>
{% endblock %}
