{% block header %}
    <div class="header col-9 mx-auto">
        <h1 class="text-center mt-5"> Bienvenue sur l’outil d’analyse de performance</h1>
        <h2 class="text-center mb-5">Cet outil vous permet d’analyser la performance de vos portefeuilles de gestion de copropriété </h2>
    </div>
{% endblock %}