{% block header %}
    <div class="header col-9 mx-auto">
        <hr class="my-4">
        <h1 class="text-center"> Bienvenue sur l’outil d’analyse de performance</h1>
        <h2 class="text-center">Cet outil vous permet d’analyser la performance de vos portefeuilles de gestion de copropriété </h2>
        <hr class="my-4">
    </div>
{% endblock %}