<section class="manuals container-fluid">
    <div class="row d-flex justify-content-center">
            <div class="manual card">
                <div class="card-header">
                    <h3 class="card-title my-auto">Mode de calcul</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ manual.calculation}}</p>
                </div>
            </div>
            <div class="manual card">
                <div class="card-header">
                    <h3 class="card-title my-auto">Mode d'emploi</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ manual.instruction}}</p>
                </div>
            </div>
    </div>
</section>