@import "../vars";

.admin-activity-form #admin_activity_name {
    width: 25%;
}

.admin-activity-form #admin_activity_hours,
.admin-activity-form #admin_activity_minutes, {
    width: 8%;
}

.admin-activity-form .btn.active.focus,
.admin-activity-form .btn.active:focus,
.admin-activity-form .btn.focus,
.admin-activity-form .btn.focus:active,
.admin-activity-form .btn:active:focus,
.admin-activity-form .btn:focus {
    box-shadow: none;
}