@import "../vars";

.admin-activity-index .table-primary {
    background-color: $primary-color;
}

.admin-activity-index:hover thead th {
    background-color: $primary-color;
}

.admin-activity-index .fa-edit,
.admin-activity-index .fa-trash-alt {
    font-size: 16px;
    color: $secondary-color;
}

.admin-activity-index .fa-trash-alt:hover,
.admin-activity-index .fa-edit:hover {
    color: $primary-color;
}

.admin-activity-index .btn-delete {
    padding: 0;
}