{% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
<div class="my-4">
    <button class="btn btn-primary mr-5">Enregistrer</button>
    <a class="btn btn-sm btn-primary" href="{{ path('admin_activity_index') }}">Retour</a>
</div>
{{ form_end(form) }}
