{% extends 'layout.html.twig' %}

{% block title %}Admin - Index activités{% endblock %}

{% block main %}
    <h1>Administration - Index des activités</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hours</th>
                <th>Minutes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.name }}</td>
                <td>{{ activity.hours }}</td>
                <td>{{ activity.minutes }}</td>
                <td>
                    <a href="{{ path('admin_activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
