$primary-color: #E7475E;
$secondary-color: rgba(231, 71, 94, 0.7);
$dark-color: #333333;
$border-color: #ececec;

$background-color: #FAC31B;
$secondary-background-color: #FFFFFF;

$main-font: "Raleway", sans-serif;

$spacing: 14px;
$spacing-sm: 8px;
$spacing-xl: 28px;
