@import "vars";
@import "header";
@import "navbar";
@import "manuals";
@import "footer";
@import "admin_activity/index";
@import "admin_activity/form";
@import "portfolio";
@import "login";
@import "activity/activity";


$theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
);

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

html {
    height: 100%;
}

body {
    background-color: $secondary-background-color;
    position: relative;
    min-height: 100%;
    padding-bottom: 200px;
}

@mixin text ($font-weight, $font-size) {
    font-family: $main-font;
    font-weight: $font-weight;
    font-size: $font-size;
}

h1 {
    @include text (bold, 30px);
}

h2, h3 {
    @include text (600, 20px);
}

p {
    @include text (400, 16px);
}

label {
    font-family: $main-font;
}
