@import "vars";
@import "navbar";
@import "manuals";
@import "footer";


$theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
);

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body {
    background-color: $secondary-background-color;
}

@mixin text ($font-weight, $font-size) {
    font-family: $main-font;
    font-weight: $font-weight;
    font-size: $font-size;
}

h1 {
    @include text (bold, 30px);
}

h2, h3 {
    @include text (600, 20px);
}

p {
    @include text (400, 16px);
}

