.admin-index div {
    margin: auto;
}

.admin-index a {
    margin: auto;
    display: block;
    height: 70px;
    box-shadow: 7px 7px 30px -5px $shadow-color;
    border-radius: 8px;
    background-color: $secondary-background-color;
    color: $primary-color;
    padding: 22px 0;
}

.admin-index a:hover {
    text-decoration: none;
    background-color: $primary-color;
    color: $secondary-background-color;
}
