.manuals .row {
    margin: $spacing $spacing-xl;
}

.manuals h3 {
    color: $secondary-color;
}

.adminManuals .card {
    margin: $spacing $spacing-xl;
}

.adminManuals .container h1{
    padding: $spacing;
}