.portfolio .inner-form {
    margin-left: 40%;
    margin-right: 30%;
}

.btn.btn-rounded {
    border-radius: 30px;
}

label.custom-file-label::after {
    right: 100%;
    content: "Parcourir...";
    background-color: $secondary-background-color;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-family: $main-font;
    border-radius: 30px;
}

.custom-file-input:hover {
    cursor: pointer;
}

label.custom-file-label {
    left: 100px;
    border: none;
}
