.portfolio .inner-form {
    margin-left: 40%;
    margin-right: 30%;
}

label.custom-file-label::after {
    right: 100%;
    content: "Parcourir...";
    background-color: $secondary-background-color;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-family: $main-font;
    border-radius: 30px;
}

.custom-file-input:hover {
    cursor: pointer;
}

label.custom-file-label {
    left: 100px;
    border: none;
}

.bubble {
    width: 600px;
}

.bubble-text {
    background-color: $first-result-color;
    padding: 15px;
    border-radius: 10px;
}

.bubble-text::after {
    content: '';
    margin-left: 150px;
    margin-top: 14px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $first-result-color;
    position: absolute;
}

.bubble-text ul {
    list-style: none;
}

.bubble-text i {
    color: $primary-color;
}

.portfolio img {
    width: 220px;
}