.condos-infos {
    padding: 30px;
    width: 45%;
    background-color: #F4D049;
    position: relative;
}

.cost-result {
    padding: 30px;
    width: 34%;
    background-color: #FFA9B5;
    position: absolute;

}

.number-condos h2,
.results-profit h2 {
    font-size: 30px;
    font-weight: bold;
}

.number-condos p,
.results-profit p {
    font-size: 20px;
}


