.results {
    margin-left: 10%;
}

.condos-infos,
.cost-result {
    padding: 30px;
    width: 500px;
}

.condos-infos {
    background-color: $second-result-color;
    position: absolute;
}

.cost-result {
    background-color: $first-result-color;
    position: relative;
    top: 100px;
    left: 400px;
}

.number-condos h2,
.results-profit h2,
.results-table h3 {
    font-size: 30px;
    font-weight: bold;
}

.number-condos p,
.results-profit p,
.results-profitability p {
    font-size: 20px;
}

.results-profitability {
    margin-top: 120px;
}

.results-profitability h2 {
    font-size: 60px;
    font-weight: bold;
    color: $primary-color;
}

.results-table img {
    width: 64px;
}

//PDF view
.results-PDF {
    margin: 0;
}

.results-PDF h2 {
    color: $primary-color;
}

.results-profitability-PDF {
    margin-top: 0;
    text-align: center;
}

.results-profitability-PDF h2 {
    font-size: 40px;
}

.results-PDF h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.results-PDF p,
.results-table-PDF h3 {
    font-size: 16px;
}
