<section class="manuals container-fluid">
    <div class="row">
            <div class="card col mx-3 px-0 col-5 mb-5 ml-5 mt-5 text-center">
                <div class="card-body">
                    <a href="{{ path('admin_activity_index') }}" class="card-text">Modifier les activités</a>
                </div>
            </div>

            <div class="card col mx-3 px-0 col-5 mb-5 ml-5 mt-5 text-center">
                <div class="card-body">
                    <a href="#" class="card-text">Modifier le manuel</a>
                </div>
            </div>
    </div>
</section>
