<div class="activity-cost my-5">
    <div class="d-flex align-items-center my-2">
        <img src="{{ asset('build/images/autonomes.png') }}" alt="activités">
        <h3 class="ml-3">Les 3 activités les plus coûteuses du portefeuille</h3>
    </div>
    <table class="table table-hover">
        <thead class="table-primary">
        <tr>
            <th>Activité</th>
            <th>Pourcentage du coût global</th>
        </tr>
        </thead>
        <tbody>
        {% for activity, activity_percent in app.session.get('activitiesCost') %}
            <tr>
                <td>{{ activity }}</td>
                <td>{{ activity_percent|number_format(1, '.') }} %</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
