<div class="top-ten-condo-profit mt-5">
    {% if app.session.get('topTenCondos') is defined %}
        <div class="d-flex align-items-center my-2">
            <img src="{{ asset('build/images/syndic-en-ligne-collaboratif.png') }}" alt="pouces vers le haut">
            <h3 class="ml-3">Le top 10</h3>
        </div>
        <table class="table table-hover">
            <thead class="table-primary">
            <tr>
                <th>Copropriété</th>
                <th>Bénéfices</th>
            </tr>
            </thead>
            <tbody>
            {% for topTenCondoKey, topTenCondo in  app.session.get('topTenCondos') %}
                <tr>
                    <td>{{ topTenCondoKey }}</td>
                    <td>{{ topTenCondo.profit }} €</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune copropriété n'est rentable</p>
    {% endif %}
</div>
