{% extends 'layout.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="my-5 pb-4">Résultats de l'analyse</h1>
        {% include 'result/_total_profit.html.twig' %}
        {% include 'result/_profit.html.twig' %}
        {% include 'result/_profitCondo.html.twig' %}
    </div>
{% endblock %}
