<div class="footer"></div>
<div class="container">
    <div class="footer-container d-flex justify-content-between">
        <div>
            <p>14 Boulevard Rocheplatte</p>
            <p>45000 Orléans</p>
        </div>
        <div>
            <p>06 44 64 28 38</p>
            <p>admin@cotoit.fr</p>
        </div>
    </div>
</div>
