<div class="footer"></div>
<footer class="container">
    <div class="footer-container d-flex justify-content-between">
        <div class="row align-items-center">
            <img src="{{ asset('build/images/contact-address.png') }}" alt="logo-address">
            <div>
                <p>14 Boulevard Rocheplatte</p>
                <p>45000 Orléans</p>
            </div>
        </div>
        <div class="row align-items-center">
            <img src="{{ asset('build/images/contact-tel.png') }}" alt="logo-tel">
            <div>
                <p>06 44 64 28 38</p>
                <p>admin@cotoit.fr</p>
            </div>
        </div>
        <div class="d-flex flex-column logo-ca justify-content-center">
            <p>Cotoit est une filiale</p>
            <img src="{{ asset('build/images/logo-ca.svg') }}" alt="logo-credit-agricole">
        </div>
    </div>
</footer>
