{% extends 'layout.html.twig' %}

{% block title %}Personnalisation grille de temps activités{% endblock %}

{% block main %}
<section class="user-activity-form container my-4">
    <h1 class="row ml-2 mb-4">Personnalisation grille de temps activités</h1>
    <table class="table table-hover">
        <thead class="table-primary">
        <tr>
            <th><i class="fas fa-briefcase"> Activité</th>
            <th class="text-center"><i class="fas fa-user-clock"> Temps dédié</th>
        </tr>
        </thead>
        <tbody>
        {{ form_start(form) }}
        {% for activity in form.activities %}
            <tr>
                <td>{{ form_label(activity, activity.vars.data.name) }}</td>
                <td class="form-fields">{{ form_widget(activity) }}</td>
            </tr>
        {% endfor %}
        {{ form_end(form) }}
        </tbody>
    </table>
</section>
{% endblock %}