{% extends 'layout.html.twig' %}
{#{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}#}

{% block title %}Personnalisation grille de temps activités{% endblock %}

{% block main %}
    <section class="user-activity-form container-fluid my-5">
        <h1 class="row offset-1 mb-4">Personnalisation grille de temps activités</h1>
        {{ form_start(form) }}
        <div class="row justify-content-center">
            {% for activity in form.activities %}
                <div class="card mb-5 mr-5 col-3 p-0">
                    <div class="card-body p-0">
                        <div class="card-title d-flex justify-content-center py-3">
                            <i class="fas fa-briefcase"> {{ form_label(activity, activity.vars.data.name) }} </i>
                        </div>
                        {{ form_widget(activity) }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}