@import "../vars";

.housing-activity-form thead tr th {
    background-color: $secondary-color;
}

.housing-activity-form:hover thead tr th {
    background-color: $secondary-color;
}

.housing-activity-form .form-fields {
    display: flex;
    justify-content: flex-end;
}

.housing-activity-form .form-group {
    margin-bottom: 0;
}

.housing-activity-form div[id*="housing_activity_activities"],
.housing-activity-form div[id*="housing_activity_activities"] div
{
    display: flex;
    justify-content: center;
}

.housing-activity-form div[id*="housing_activity_activities"] div label {
    margin-bottom: 0;
    margin-right: $spacing-sm;
    align-self: center;
}

.housing-activity-form input {
    width: 33%;
}

.housing-activity-form .btn.active.focus,
.housing-activity-form .btn.active:focus,
.housing-activity-form .btn.focus,
.housing-activity-form .btn.focus:active,
.housing-activity-form .btn:active:focus,
.housing-activity-form .btn:focus {
    box-shadow: none;
}