{% extends 'layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block main %}
    <section class="admin-user-index container my-5">

        <h1 class="mt-5 mb-5">Administration des utilisateurs</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    {% if user.roles == ["ROLE_USER"] %}
                        <td>Utilisateur</td>
                    {% elseif user.roles == ["ROLE_ADMIN"] %}
                        <td>Administrateur</td>
                    {% else %}
                        <td>Non défini</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
