{% extends 'layout.html.twig' %}

{% block title %}Admin - Modification taux horaire{% endblock %}

{% block main %}
    <section class="admin-hourly-rate-form container my-4">
        <h1>Modifier le taux horaire</h1>

        {{ include('admin_hourlyRate/_form.html.twig') }}
    </section>
{% endblock %}
