{% extends 'layout.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block main %}
    <section class="my-5 text-center">
        <div>
            <h1>Oups...</h1>
            <h2>Le serveur rencontre des problèmes internes et ne peut accéder à votre demande. Veuillez essayer ultérieurement.</h2>
            <img class="not-found-img" src="{{ asset('build/images/not-found-img.png') }}" alt="Page non trouvée">
        </div>
        <div class="mt-5">
            <a class="btn btn-outline-primary" href="{{ path('home') }}">Retour à la page d'accueil</a>
        </div>
    </section>
{% endblock %}